{# app/Resources/views/default/welcome.html.twig #}
{% extends '/default/cuestionariobase.html.twig' %}

{% block body %}
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade in active" role="tabpanel" id="home" aria-labelledby="home-tab">
			<p class="text-center send-ok">
				Bienvenido Sr./Sra. {{ apellido1 }} al proyecto Simplicity: <br>El valor de la simplicidad.
			</p>
			<p class="text-center">Este proyecto tiene como objetivo poner en valor los beneficios de la simplificaci&oacute;n de los actuales tratamientos antivirales de acci&oacute;n directa (AAD) en el abordaje terap&eacute;utico de la hepatitis C para el paciente, para el cl&iacute;nico y para el sistema de salud en su conjunto.</p>
			<p class="text-center">Como parte fundamental de este proyecto necesitamos que, por favor, complete los cuestionarios abajo indicados. Estos cuestionarios ser&aacute;n contestados por los 33 Expertos y los 5 integrantes del Comit&eacute; Cient&iacute;fico que est&aacute;n participando en este proyecto.</p>
			<p class="text-center">Los datos obtenidos de estos cuestionarios ser&aacute;n tratados de forma agregada y an&oacute;nima. </p>
			<div class="form-block button-block">
				<!-- Button (Double) -->
				<div class="form-group" style="margin-bottom:0;">
					<div class="col-xs-12 col-md-6 show-grid">
						<p class="text-center" style="margin-top:20px;"><strong>Disponible del 23 al 5 de febrero</strong></p>
						{{ button1 | convert_encoding('UTF-8', ' iso-8859-1') | raw }}					
					</div>
					<div class="col-xs-12 col-md-6" style="margin-top:20px;">
						<p class="text-center"><strong>Disponible pr&oacute;ximamente</strong></p>
						{{ button2 | convert_encoding('UTF-8', ' iso-8859-1') | raw }}
					</div>
				</div>
			</div>								
		</div>
		<div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
    		<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher videoro sint qui sapiente accusamus tattooed echo park.</p>
		</div>
	</div>	
{% endblock %}
{% block modals %}
	<!-- Modal CUANTITATIVO-->
	<div class="modal fade modal-normas" id="ModalCuantitativo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title" id="myModalLabel">CUESTIONARIO CUANTITATIVO</h3>
				</div>
				<div class="modal-body">
					<p>{{ message1 }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal DELPHI-->
	<div class="modal fade modal-normas" id="ModalDelphi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title" id="myModalLabel">CUESTIONARIO DELPHI</h3>
				</div>
				<div class="modal-body">
					<p>{{ message2 }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

