<div class="form-block">
	<p class="tittle-form"><span class="label simplicity">{{ numero }}</span> {{ titulo | raw }}</strong></p>
	
	<div class="form-group">
		<div class="col-xs-12">
			
			{% for var in form %}
				<label class="radio-inline" for="form_p{{ numero }}_{{ loop.index0 }}">
					{{ form_widget(var) }}
					<label for="form_p{{ numero }}_{{ loop.index0 }}">&nbsp;</label>
					<span>{{ form_label(var) }}</span>
				</label>
			{% endfor %}
		</div>
		<div class="col-xs-12">
			
			{{ form_widget(formporque, {'attr': {'class': 'form-control input-sm', 'placeholder': 'Por que'}}) }}
			
		</div>
	</div>
</div>

